footer {
    width: 100%;
    position: fixed;
    bottom: -60px;
    left: 0;
    right: 0;
    background-color: #e6d3c6;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    flex-grow: 2;
}

footer a {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    display: none;
}

footer a:hover {
    cursor: pointer;
}

footer a span {
    margin: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
}

footer a img {
    max-height: 16px;
    opacity: 0.4;
}

footer a:last-child span {
    text-align: right;
}

footer > div {
    position: absolute;
    top: -5px;
    display: inline-block;
    height: 5px;
    z-index: 3;
}

footer > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-items: center;
    text-align: center;
}

:global .showTimer {
    display: flex;
}
:global .hideTimer {
    display: none;
}