button {
    display: block;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: thin;
    font-size: 18px;
    transition: all 0.1s ease-in-out;
    border: 1px solid #48a3a16c;
}

button[data-checked="unchecked"] {
    color: #48a3a2;
    background-color: white;
    transition: all 0.1s ease-in-out;
}

button[data-checked="checked"] {
    color: white;
    background-color: #48a3a2;
    transition: all 0.1s ease-in-out;
}

:global button.confirm {
    border: none;
    background-color: transparent;
}