header {
    background-color: #e6d3c6;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 60px;
    text-align: center;
    color: white;
    z-index: 2;
}

header h1 {
    color: white;
    padding: 0;
    margin: 10px auto 0 auto;
    font-size: 20px;
    text-transform: uppercase;
}

header h2 {
    font-size: 12px;
    margin-top: 5px;
    font-family: "Roboto-regular";
    font-weight: 100;
    color: rgba(0,0,0,0.3);
}