@font-face {
    font-family: 'Roboto-regular';
    src:  url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}
 @font-face {
    font-family: 'Roboto-bold';
    src:  url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
 }
@font-face {
    font-family: 'Roboto-italic';
src:  url('../../assets/fonts/Roboto-Italic.ttf') format('truetype');
}

html {
    background-color: #f1ded0;
    font-family: "Roboto-regular";
}

select {
    width: 100%;
    margin-top: 30px;
}


:global [data-color="color0"] {
    color: #48a3a2;
}
:global [data-color="color1"] {
    color: #e67e2e;
}
:global [data-color="color2"] {
    color: #907CA9;
}
:global [data-color="color3"] {
    color: #C5324C;
}
:global [data-color="color4"] {
    color: #677381;
}
:global [data-color="color5"] {
    color: #0a70a0;
}

:global [data-color="backgroundColor0"] {
    background-color: #48a3a2;
}
:global [data-color="backgroundColor1"] {
    background-color: #e67e2e;
}
:global [data-color="backgroundColor2"] {
    background-color: #907CA9;
}
:global [data-color="backgroundColor3"] {
    background-color: #C5324C;
}
:global [data-color="backgroundColor4"] {
    background-color: #677381;
}
:global [data-color="backgroundColor5"] {
    background-color: #0a70a0;
}



