section {
    margin: 80px 20px;
    line-height: 28px;
    font-size: 18px;
}

article {
    margin-bottom: 22.5px;
    margin-top: 22.5px;
}

hr {
    font-size: 0;
    border: 0;
    height: 1px;
    background-color: rgba(0,0,0,0.18);
    margin-top: 0;
}

section > div:last-child article {
     margin-bottom: 225px
}

section > div:last-child hr {
    display: none;
}