header {
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 75px;
    text-align: center;
    color: white;
    z-index: 2;
    transition: all 0.35s ease-in-out;
}

header h1 {
    color: white;
    padding: 0;
    margin: 10px auto 0 auto;
    font-size: 20px;
    text-transform: uppercase;
}

header h2 {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Roboto-regular";
    font-weight: 100;
    color: rgba(0,0,0,0.3);
}



:global header[data-headerstate="opened"] .additional-content .content {
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    top: 75px;
    right: 0;
    overflow: scroll;
}

:global header .additional-content .content {
    padding: 15px;
    text-align: justify;
    color: black;
    font-size: 18px;
    line-height: 28px;
}

:global header .additional-content .content  h1 {
    color: black;
}

:global header .additional-content .content  h2 {
    color: black;
    font-size: 18px;
}

:global header[data-headerstate="closed"] .additional-content .content {
    display: none;
    position: relative;
}

:global header[data-headerstate="opened"] {
    bottom: 0;
    height: auto;
    z-index: 10;
    height: 100%;
}

:global .chevron {
    width: 10px;
    height: auto;
    display: inline-block;
    transform: rotate(90deg);
    padding: 10px 0px 10px 10px;
    opacity: 0.5;
}

:global header[data-headerstate="closed"] .chevron {
    position: absolute;
    top: 45px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
    margin-left: -15px;
}

:global header[data-headerstate="opened"] .chevron {
    position: absolute;
    transform: rotate(-90deg);
    bottom: -10px;
    transition: all 0.5s ease-in-out;
    margin-left: -10px;
}

:global .wikipedia p {
    font-style: italic;
}

:global .ftlexicon ul {
    list-style: circle;
    padding-left: 15px;
}

:global .ftlexicon ul li {
    margin-bottom: 10px;
}

:global .energeia a {
    font-style: italic;
    background-color: rgba(0,0,0,0.1);
    display: block;
    margin: 15px 0;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.4;
}

:global header .companyinfo .item h2 {
    font-size: 14px;
    line-height: 1.4;
}

:global .companyinfo .item h2:first-child {
    font-size: 22px;
    font-style: italic;
}