@font-face {
    font-family: 'Roboto-regular';
    src:  url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}
 @font-face {
    font-family: 'Roboto-bold';
    src:  url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
 }
@font-face {
    font-family: 'Roboto-italic';
    src:  url('../../assets/fonts/Roboto-Italic.ttf') format('truetype');
}

select {
    width: 100%;
    margin-top: 30px;
}

div ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 20px;
}

